<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Font -- >

  <!-- Style -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/biom.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body>



<% include header.ejs %>


<div class="container">
    <% if (data) { %>
    <% data.forEach(function(product){
    if(product.id == id){


    %>

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4"><%= product.category %></h1>
        </div>
        <div class="col-lg-9">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" style="width: 768px; height: 432px" src="/images/<%= product.img %>" alt="">
                <div class="card-body">
                    <h3 class="card-title"><%= product.title %></h3>
                        <h4></h4>

                    <p class="card-text"><%= product.description %></p>
                    <p><%= product.price %> RSD  <a href="#" class="btn btn-success">Kupi</a></p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                    5.0 stars


                </div>
            </div>
        </div>   <!-- /.card -->
    </div>
    <% }}) %>
    <% } %>
</div>






<% include footer.ejs %>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</body>

</html>
